name: Go
on:
  push:
    branches:
      - main
      - 'test_*'
      - 'test-*'
  pull_request:
    branches:
    - main
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: ./go.mod
      id: go

    - name: Run tests
      run: |
        go test -mod=vendor -race ./...
